.header {
   height: 87px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
   padding: 0 15px;
   box-sizing: border-box;
   background-color: rgb(41, 48, 59);

   .brand {
      display: flex;
      align-items: center;

      .brand-name {
         margin-left: 15px;
         font-size: 2em;
         color: lightpink;
         font-weight: bolder;
         font-family: 'Great Vibes';
         margin-top: 5px;

         &::first-letter {
            color: #e75480;
         }
      }

      .logo-placeholder {
         width: 70px;
         height: 70px;
         padding: 10px;

         .logo {
            width: 100%;
            height: 100%;
            filter: invert(1);
         }
      }
   }
   
   .options {
     width: 50%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-end;;
 
     .option {
       padding: 10px 15px;
       color: pink;
       font-weight: bold;
       font-size: 1.3em;
       cursor: pointer;

       &:hover {
         color: #e75480;
       }
     }
   }
 }
 