* {
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans Condensed';
}

.body-template {
   padding: 0 60px;
}

a {
   text-decoration: none;
   color: black;
}

@media (max-width: 760px) {
   .body-template {
      padding: 0;
   }
}